<ul class="uk-navbar-nav" data-uk-nb-nav="back: Back">
{{#each menu}}
	{{#with this}}
	<li class="{{#if children}}uk-parent{{/if}}{{#if (eq ../page.name name)}} uk-active{{/if}}">
		<a href="{{default url "#"}}">{{title}}</a>
		{{#if children}}
        <div class="uk-navbar-dropdown">
            <ul class="uk-nav uk-navbar-dropdown-nav" id="nav-{{ida title}}">
            {{#each children}}
                {{#with this}}
                <li>
                    <a href="{{default url "#"}}">{{title}}</a>
                </li>
                {{/with}}
            {{/each}}
            </ul>
        </div>
		{{/if}}
	</li>
	{{/with}}
{{/each}}
</ul>
